<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="header">
      <div class="header-title">{{ site.title }}</div>
    </header>
    <div class="wrapper">
      <nav id="toc" class="toc">
        <h2>Contents</h2>
        <!-- TOC will be generated here -->
      </nav>
      <main id="content">
        {{ content }}
      </main>
    </div>
    <script src="/assets/js/toc.js"></script>
  </body>
</html>